html, body {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    max-width: 768px;
    margin: 0px auto;
}

table, th, td {
    border: 1px solid black;
}

h1 {
    text-align: center;
    background-color: lemonchiffon;
}

th {
    border: 1px solid black;
    padding: 15px;
    border-spacing: 5px;
}

td {
    border: 1px solid black;
    padding: 15px;
    border-spacing: 5px;
}

tr {
    border: 1px solid black;
    padding: 15px;
    border-spacing: 5px;
}

.salary-class {
    float: right;
}